.anton-regular {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
}

p, button, .nav-links, .home_projects, .project-list, .platform-list {
    font-family: "Montserrat",sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* HERO IMAGE */
.hero_image{
    height: 100vh;
    display: flex;
    flex-flow: column;
    
}