---
import Articles from "../components/Articles.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Welcome to my portfolio";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>I’m Huyen Pham, nice to meet you!</h2>
	<p>
		Hi! I’m Huyen Pham, a Digital Design and Development student from
		Vietnam, currently studying at DEVINE, Howest University of Applied
		Sciences in Belgium.
	</p>
	<section class="home_projects">
		<h3>My projects includes</h3>
		<article class="projects_example">
			<header>
				<img class="icon_illustration" />
				<h4>Illustration</h4>
			</header>
			<img />
		</article>
		<article class="projects_example">
			<header>
				<img class="icon_graphic" />
				<h4>Graphic Design</h4>
			</header>
			<img />
		</article>
		<a href="/projectsOverall">
			<button>
				<span>Check out my projects</span>
				<img class="icon_arrow" />
			</button>
		</a>
		<Articles />
	</section>
</BaseLayout>
