---
const { article } = Astro.props;
const { title, description } = article.data;
---

<details>
    <summary>{title}</summary>
    <p>{description}</p>
    <a href={`/articles/${article.id}`}>
        Read the article.
    </a>
</details>
