---
import Social from "./Social.astro";
---

<footer>
    <p>
        <Social platform="instagram" username="bongngoive" />
        <Social platform="behance" username="/thanhhuyenpham2" />
    </p>
</footer>
