---
const { project } = Astro.props;
const { title, description, pic, category } = project.data;
---

<ul>
    <li>
        <h2>{title}</h2>
        <p>{description}</p>
        <p>{category}</p>
        <a href={`/projects/${project.id}`}>View my project.</a>
    </li>
</ul>
